################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project valkyrie (Name subject to chnage)/obj/Debug/build.force
